#Aim: Implement Naive Bayes classifier

In [ ]:
from sklearn import preprocessing
from sklearn.naive_bayes import GaussianNB, MultinomialNB

In [ ]:
weather = ['Sunny', 'Sunny', 'Overcast', 'Rainy', 'Rainy','Rainy', 'Overcast','Sunny', 'Sunny', 'Rainy', 'Sunny', 'Overcast', 'Overcast', 'Rainy']
temp = ['Hot','Hot','Hot','Mild','Cool','Cool','Cool','Mild','Cool','Mild','Mild','Mild','Hot','Mild']
play=['No','No','Yes','Yes','Yes','No','Yes','No','Yes','Yes','Yes','Yes','Yes','No']

In [ ]:
le = preprocessing.LabelEncoder()
# Converting string labels into numbers.
weather_encoded=le.fit_transform(weather)
print("Weather:" ,weather_encoded)

Weather: [2 2 0 1 1 1 0 2 2 1 2 0 0 1]

In [ ]:
temp_encoded=le.fit_transform(temp)
label=le.fit_transform(play)
print("Temp:",temp_encoded)
print("Play:",label)

Temp: [1 1 1 2 0 0 0 2 0 2 2 2 1 2]
Play: [0 0 1 1 1 0 1 0 1 1 1 1 1 0]

In [ ]:
#Combinig weather and temp into single listof tuples
features=tuple(zip(weather_encoded,temp_encoded))
print("Features:",features)

Features: ((2, 1), (2, 1), (0, 1), (1, 2), (1, 0), (1, 0), (0, 0), (2, 2), (2, 0), (1, 2), (2, 2), (0, 2), (0, 1), (1, 2))

In [ ]:
#Create a Classifier
model=MultinomialNB()
# Train the model using the training sets
model.fit(features,label)

MultinomialNB()

In [ ]:
#Predict Output
predicted= model.predict([[0,2]]) # 0:Overcast, 2:Mild
print("Predicted Value:", predicted)

Predicted Value: [1]

In [ ]:
predicted= model.predict([[2,2]]) # 2:Sunny, 2:Mild
print("Predicted Value:", predicted)

Predicted Value: [1]

#(2) Naive Bayes on iris

In [ ]:
#Import scikit-learn dataset library
import numpy as np
from sklearn import datasets
from sklearn.naive_bayes import GaussianNB
#Load dataset
iris = datasets.load_iris()

In [ ]:
# print the names of the 13 features
print("Features: ", iris.feature_names)
# print the label type of wine(class_0, class_1, class_2)
print("Labels: ", iris.target_names)
# print data(feature)shape
print("\nData shape: ",iris.data.shape)
#print data(target)shape
print("\nTraget shape: ",iris.target.shape)
#print("\nData: ",iris.data)
#print("\nTarget: ",iris.target)
print("\nData type: ",type(iris.data))
newdata = iris.data[50:,:]
newtarget = iris.target[50:]
# print data(feature)shape
print("\nNew Data shape: ",newdata.shape)
#print data(target)shape
print("\nNew Traget shape: ",newtarget.shape)

Features:  ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']
Labels:  ['setosa' 'versicolor' 'virginica']

Data shape:  (150, 4)

Traget shape:  (150,)

Data type:  <class 'numpy.ndarray'>

New Data shape:  (100, 4)

New Traget shape:  (100,)

In [ ]:
#import the necessary module
from sklearn.model_selection import train_test_split
#split data set into train and test sets
data_train, data_test, target_train, target_test = train_test_split(newdata,newtarget, test_size = 0.30, random_state = 54)

In [ ]:
import numpy as np
gnb = GaussianNB()
#Train the model using the training sets
gnb.fit(data_train, target_train)
#Predict the response for test dataset
target_pred = gnb.predict(data_test)

In [ ]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(target_test, target_pred))

Accuracy: 0.9333333333333333

In [ ]:
#Import confusion_matrix from scikit-learn metrics module for confusion_matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(target_test, target_pred)

array([[12,  1],
       [ 1, 16]])

In [ ]:
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
precision = precision_score(target_test, target_pred)
recall = recall_score(target_test, target_pred)
print('precision: {}'.format(precision))
print('recall: {}'.format(recall))

precision: 0.9230769230769231
recall: 0.9230769230769231

#(3)Task 1: Try the algo on Dataset2 - LabelEncoding of features:and Traintest Division 90%-10%

In [ ]:
from sklearn import preprocessing
from sklearn.naive_bayes import GaussianNB, MultinomialNB
from sklearn import datasets
from sklearn.model_selection import train_test_split

In [ ]:
import pandas as pd
play_data = pd.read_csv('/content/Dataset2.csv')
play_data

   Outlook Temp Wind Humidity Class
0        R    H    F   Normal     N
1        R    H    T     High     N
2        O    H    F   Normal     Y
3        S    M    F   Normal     N
4        S    M    F   Normal     Y
5        S    M    T      Low     Y
6        O    C    T   Normal     Y
7        R    C    F   Normal     Y
8        R    C    F      Low     Y
9        S    M    F     High     Y
10       R    M    T     High     Y
11       O    M    T      Low     Y
12       O    H    F   Normal     Y
13       S    M    T   Normal     N

Try the algo on Dataset2 - LabelEncoding of features:and Traintest Division 90%-10%

In [ ]:
outlook = play_data.iloc[:,0].values
temp = play_data.iloc[:,1].values
wind = play_data.iloc[:,2].values
humadity = play_data.iloc[:,3].values
play = play_data.iloc[:,4].values

print("outlook : ",outlook)
print("temp : ",temp)
print("wind : ",wind)
print("humadity : ",humadity)
print("play : ",play)

outlook :  ['R' 'R' 'O' 'S' 'S' 'S' 'O' 'R' 'R' 'S' 'R' 'O' 'O' 'S']
temp :  ['H' 'H' 'H' 'M' 'M' 'M' 'C' 'C' 'C' 'M' 'M' 'M' 'H' 'M']
wind :  ['F' 'T' 'F' 'F' 'F' 'T' 'T' 'F' 'F' 'F' 'T' 'T' 'F' 'T']
humadity :  ['Normal' 'High' 'Normal' 'Normal' 'Normal' 'Low' 'Normal' 'Normal' 'Low'
 'High' 'High' 'Low' 'Normal' 'Normal']
play :  ['N' 'N' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'N']

In [ ]:
#creating labelEncoder
le = preprocessing.LabelEncoder()
# Converting string labels into numbers.
humadity_encoded=le.fit_transform(humadity)
print("Humadity:" ,humadity_encoded)

outlook_encoded = le.fit_transform(outlook)
print("outlook:" ,outlook_encoded)

temp_encoded = le.fit_transform(temp)
print("temp:" ,temp_encoded)

wind_encoded = le.fit_transform(wind)
print("wind:" ,wind_encoded)

play_encoded = le.fit_transform(play)
print("play:" ,play_encoded)

Humadity: [2 0 2 2 2 1 2 2 1 0 0 1 2 2]
outlook: [1 1 0 2 2 2 0 1 1 2 1 0 0 2]
temp: [1 1 1 2 2 2 0 0 0 2 2 2 1 2]
wind: [0 1 0 0 0 1 1 0 0 0 1 1 0 1]
play: [0 0 1 0 1 1 1 1 1 1 1 1 1 0]

In [ ]:
data_train, data_test, target_train, target_test = train_test_split(play_data,
play_data, test_size = 0.10, random_state = 54)

data=data_train
data

   Outlook Temp Wind Humidity Class
9        S    M    F     High     Y
3        S    M    F   Normal     N
13       S    M    T   Normal     N
6        O    C    T   Normal     Y
10       R    M    T     High     Y
11       O    M    T      Low     Y
8        R    C    F      Low     Y
0        R    H    F   Normal     N
1        R    H    T     High     N
7        R    C    F   Normal     Y
2        O    H    F   Normal     Y
5        S    M    T      Low     Y

In [ ]:
features=tuple(zip(outlook_encoded,humadity_encoded,temp_encoded,wind_encoded))
print("Features:",features)

Features: ((1, 2, 1, 0), (1, 0, 1, 1), (0, 2, 1, 0), (2, 2, 2, 0), (2, 2, 2, 0), (2, 1, 2, 1), (0, 2, 0, 1), (1, 2, 0, 0), (1, 1, 0, 0), (2, 0, 2, 0), (1, 0, 2, 1), (0, 1, 2, 1), (0, 2, 1, 0), (2, 2, 2, 1))

In [ ]:
model=MultinomialNB()
model.fit(features,play_encoded)
MultinomialNB()

MultinomialNB()

In [ ]:
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
predicted= model.predict([[1,2,1,0]])
print("Predicted Value:", predicted)

Predicted Value: [1]

In [ ]:
predicted= model.predict([[1,2,1,0]])
print("Predicted Value:", predicted)

In [ ]:
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
precision = precision_score(target_test, target_pred, average=None)
recall = recall_score(target_test, target_pred, average=None)
print('precision: {}'.format(precision))
print('recall: {}'.format(recall))

precision: [0.98275862 0.83636364 0.94827586 1.         0.97101449 0.92957746
 0.94029851 0.75641026 0.54255319 0.95      ]
recall: [1.         0.80701754 0.80882353 0.67241379 0.84810127 0.92957746
 1.         0.96721311 0.89473684 0.65517241]

#Task 2: Apply algorithm on digits dataset - One Hot Encoding of features: and Train test Division 65%-35%

In [ ]:
from sklearn import datasets
from sklearn.naive_bayes import GaussianNB
#Load dataset
digits = datasets.load_digits()

In [ ]:
print("Features: ", digits.feature_names)
# print the label type of wine(class_0, class_1, class_2)
print("Labels: ", digits.target_names)
# print data(feature)shape
digits.data.shape

Features:  ['pixel_0_0', 'pixel_0_1', 'pixel_0_2', 'pixel_0_3', 'pixel_0_4', 'pixel_0_5', 'pixel_0_6', 'pixel_0_7', 'pixel_1_0', 'pixel_1_1', 'pixel_1_2', 'pixel_1_3', 'pixel_1_4', 'pixel_1_5', 'pixel_1_6', 'pixel_1_7', 'pixel_2_0', 'pixel_2_1', 'pixel_2_2', 'pixel_2_3', 'pixel_2_4', 'pixel_2_5', 'pixel_2_6', 'pixel_2_7', 'pixel_3_0', 'pixel_3_1', 'pixel_3_2', 'pixel_3_3', 'pixel_3_4', 'pixel_3_5', 'pixel_3_6', 'pixel_3_7', 'pixel_4_0', 'pixel_4_1', 'pixel_4_2', 'pixel_4_3', 'pixel_4_4', 'pixel_4_5', 'pixel_4_6', 'pixel_4_7', 'pixel_5_0', 'pixel_5_1', 'pixel_5_2', 'pixel_5_3', 'pixel_5_4', 'pixel_5_5', 'pixel_5_6', 'pixel_5_7', 'pixel_6_0', 'pixel_6_1', 'pixel_6_2', 'pixel_6_3', 'pixel_6_4', 'pixel_6_5', 'pixel_6_6', 'pixel_6_7', 'pixel_7_0', 'pixel_7_1', 'pixel_7_2', 'pixel_7_3', 'pixel_7_4', 'pixel_7_5', 'pixel_7_6', 'pixel_7_7']
Labels:  [0 1 2 3 4 5 6 7 8 9]

(1797, 64)

In [ ]:
from sklearn.model_selection import train_test_split
#split data set into train and test sets
data_train, data_test, target_train, target_test = train_test_split(digits.data,
digits.target, test_size = 0.35, random_state = 54)

In [ ]:
import numpy as np
gnb = GaussianNB()
#Train the model using the training sets
gnb.fit(data_train, target_train)
#Predict the response for test dataset
target_pred = gnb.predict(data_test)

In [ ]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(target_test, target_pred))

Accuracy: 0.8600953895071543

In [ ]:
#Import confusion_matrix from scikit-learn metrics module for confusion_matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(target_test, target_pred)

array([[57,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0, 46,  1,  0,  0,  0,  2,  2,  4,  2],
       [ 0,  1, 55,  0,  0,  0,  1,  0, 11,  0],
       [ 0,  1,  1, 39,  0,  2,  0,  0, 15,  0],
       [ 1,  1,  0,  0, 67,  1,  0,  6,  3,  0],
       [ 0,  0,  0,  0,  1, 66,  1,  2,  1,  0],
       [ 0,  0,  0,  0,  0,  0, 63,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  1,  0, 59,  1,  0],
       [ 0,  2,  0,  0,  0,  0,  0,  4, 51,  0],
       [ 0,  4,  1,  0,  1,  1,  0,  5,  8, 38]])

In [ ]:
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
precision = precision_score(target_test, target_pred, average=None)
recall = recall_score(target_test, target_pred, average=None)
print('precision: {}'.format(precision))
print('recall: {}'.format(recall))

precision: [0.98275862 0.83636364 0.94827586 1.         0.97101449 0.92957746
 0.94029851 0.75641026 0.54255319 0.95      ]
recall: [1.         0.80701754 0.80882353 0.67241379 0.84810127 0.92957746
 1.         0.96721311 0.89473684 0.65517241]